<nav aria-label="Main Navigation">
  <ul>
    <li><a href="#">Главная</a></li>
    <li class="dropdown">
      <!-- aria-expanded needs managed with Javascript -->
      <button
        type="button"
        class="dropdown__title"
        aria-expanded="false"
        aria-controls="sweets-dropdown"
      >
        Об организации
      </button>
      <ul class="dropdown__menu" id="organization-dropdown">
        <li>
          <a href="#">Президиум Рады Украинской Танцевальной Ассоциации</a>
        </li>
        <li><a href="#">Президенты Областных Организаций РУТА</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <!-- aria-expanded needs managed with Javascript -->
      <button
        type="button"
        class="dropdown__title"
        aria-expanded="false"
        aria-controls="sweets-dropdown"
      >
        Документы
      </button>
      <ul class="dropdown__menu" id="doc-dropdown">
        <li>
          <a href="#">Общие</a>
        </li>
        <li><a href="#">Уставные</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <!-- aria-expanded needs managed with Javascript -->
      <button
        type="button"
        class="dropdown__title"
        aria-expanded="false"
        aria-controls="sweets-dropdown"
      >
        Соревнование
      </button>
      <ul class="dropdown__menu" id="comp-dropdown">
        <li>
          <a href="#">График Соревнований</a>
        </li>
        <li><a href="#">Результаты Соревнований</a></li>
      </ul>
    </li>
    <li><a href="#">Контакты</a></li>
    <li class="dropdown">
      <!-- aria-expanded needs managed with Javascript -->
      <button
        type="button"
        class="dropdown__title"
        aria-expanded="false"
        aria-controls="sweets-dropdown"
      >
        Онлайн Регистрация
      </button>
      <ul class="dropdown__menu" id="onlineReg-dropdown">
        <li>
          <a href="#">Flymark</a>
        </li>
        <li><a href="#">Dancereg</a></li>
        <li><a href="#">Ballroom. V.Pogorelov</a></li>
      </ul>
    </li>
  </ul>
</nav>
